<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Get weekly Redmine issue send to email">
  <meta name="author" content="xi4oh4o">
  <title>Weekly Redmine issue to Mail</title>
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <ul>
        <% flash[:error].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
  <%= yield %>
  </div>
  <div id="footer">
    <span class="glyphicon glyphicon-cloud"></span>
    <br>
    <span class="legal"> Lovingly made by <a href="http://xhs.me/resume">Howe Isamu</a></span>
    <br>
    <span class="made-with">Made with</span>
    <span class="heart">❤</span>
    <span class="made-with">in ZhengZhou</span>
  </div>
  <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
  <script src="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
